# App
APP_IMAGE=eclipse-temurin:17-jre
APP_PORT=8080
SPRING_PROFILES_ACTIVE=prod
APP_JAR_NAME=pui-mx-0.9.6.jar

# JWT / PUI
JWT_SECRET=ClaveJwtSeguraDe32CaracteresMinimo!!!
PUI_CLAVE_RECIBIDA=Pui@Institucion2025!
PUI_RFC_HOMOCLAVE=RFC_DEMO010101ABC
PUI_API_CLAVE=CLAVE_PROPORCIONADA_POR_PUI
PUI_BIOMETRICOS_CLAVE=ClaveAES256ProporcionadaPorPUI
PUI_BASE_URL=https://www.api.plataformadebusqueda.gob.mx/api/2_3_0
PUI_CONNECT_TIMEOUT_MS=5000
PUI_READ_TIMEOUT_MS=5000
PUI_DEMO_MODE=false
PUI_SCHEDULER_CRON=0 0 * * * *

# SSL
SSL_KEYSTORE_PATH=/opt/pui/certs/institucion.p12
SSL_KEYSTORE_PASS=CambiarKeystorePass123!

# MariaDB platform_db
PLATFORM_MARIADB_DATABASE=platform_db
PLATFORM_MARIADB_USER=pui_platform
PLATFORM_MARIADB_PASSWORD=CambiarPasswordPlatform123!
PLATFORM_MARIADB_ROOT_PASSWORD=CambiarRootPlatform123!
PLATFORM_DB_URL=jdbc:mariadb://platform-db:3306/platform_db?useSsl=false
PLATFORM_DB_USERNAME=pui_platform
PLATFORM_DB_PASSWORD=CambiarPasswordPlatform123!

# MariaDB datos_db
DATOS_MARIADB_DATABASE=datos_db
DATOS_MARIADB_USER=pui_datos
DATOS_MARIADB_PASSWORD=CambiarPasswordDatos123!
DATOS_MARIADB_ROOT_PASSWORD=CambiarRootDatos123!
DATOS_DB_URL=jdbc:mariadb://datos-db:3306/datos_db?useSsl=false
DATOS_DB_USERNAME=pui_datos
DATOS_DB_PASSWORD=CambiarPasswordDatos123!
